body {
    display: flex;
    flex-direction: column;
    line-height: 1.3px;
    background-color: var(--lightolive);

}

:root {
    --Scarlet: #0f3b04;
    --lightolive: white;
    --lightteal: white;
    --darkblue: rgb(0, 0, 0);
}

header {
    justify-content: space-between;
    padding: 2%;
    background-color: var(--lightolive);
    color: var(--Scarlet);
    margin: 5px;
    border-style: solid;
    border-radius: 60px;
    border-color: var(--Scarlet);
    text-align: center;
}

header > img {
    width: 200px;
    height: 200px;
    display:inline-block;
    margin: 2px;
}


img{
    width: 250px;
    border-radius: 40px;
    margin: 25px;
}

nav {
    justify-content: space-between;
    padding: 2%;
    background-color: var(--lightolive);
    margin: 2px;
    text-align:center;
}

nav a {
    color: var(--darkblue);
    padding: 25px 25px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

main{
    background-color: var(--lightteal);
    border-style: solid;
    border-radius: 60px;
    border-color: var(--Scarlet);
   
}

.categories {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  

  #about-me {
    padding: 25px;
    height: 200px;
    width: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    border-style: solid;
    border-radius: 60px;
    border-color: var(--darkblue);
    color:var(--Scarlet);
    line-height: normal;
    position: relative;
    right: 21%;
    box-shadow: 5px 10px 5px;
  }
  

  #work {
    padding: 25px;
    height: 200px;
    width: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 60px;
    border-color: var(--darkblue);
    margin: 5px;
    color:var(--Scarlet);
    position: relative;
    right: 21%;
    box-shadow: 5px 10px 5px;
  }

  #contact-me {
    padding: 25px;
    height: 200px;
    width: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 60px;
    border-color: var(--darkblue);
    color:var(--Scarlet);
    position: relative;
    right: 21%;
    box-shadow: 5px 10px 5px;
  }

  #resume {
    padding: 25px;
    height: 200px;
    width: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 60px;
    border-color: var(--darkblue);
    color: var(--Scarlet);
    position: relative;
    right: 21%;
    box-shadow: 5px 10px 5px;
  }

#work:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
    background-image: linear-gradient(
        rgba(39, 238, 105, 0.3) 0%,
        rgba(11, 41, 16, 0.6) 100%
    );
}

#contact-me:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
    background-image: linear-gradient(
        rgba(39, 238, 105, 0.3) 0%,
        rgba(11, 41, 16, 0.6) 100%
    );
}

#about-me:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
    background-image: linear-gradient(
        rgba(39, 238, 105, 0.3) 0%,
        rgba(11, 41, 16, 0.6) 100%
    );
}

#resume:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
    background-image: linear-gradient(
        rgba(39, 238, 105, 0.3) 0%,
        rgba(11, 41, 16, 0.6) 100%
    );
}


.float-left {
        float: left;
        margin-right: 25px;
}

footer{
    text-align: center;
    color: var(--Scarlet);
    background-color: var(--lightolive);
    border-radius: 60px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
