body {
    display: flex;
    flex-direction: column;
    line-height: 1.3px;
    background-color: var(--lightolive);

}

:root {
    --Scarlet: #b85042;
    --lightolive: #e7e8d1;
    --lightteal: #a7beae;
    --darkblue: darkblue;
}

header {
    justify-content: space-between;
    padding: 2%;
    background-color: var(--lightolive);
    color: var(--Scarlet);
    margin: 5px;
    border-style: solid;
    border-radius: 1%;
    border-color: var(--Scarlet);
    text-align: center;
}

header > img {
    width: 200px;
    height: 200px;
    display:inline-block;
    margin: 2px;
}

img{
    width: 300px;
}

nav {
    justify-content: space-between;
    padding: 2%;
    background-color: var(--lightolive);
    margin: 2px;
    text-align:left;
}

nav a {
    color: var(--darkblue);
    padding: 25px 25px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

main{
    background-color: var(--lightteal);
    border-style: solid;
    border-radius: 3px;
    background-image: linear-gradient(
        rgba(112, 212, 243, 0.3) 0%,
        rgba(9, 58, 70, 0.6) 100%
    );
}

.categories {
    display: flex;
    flex-direction:column-reverse;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  

  #about-me {
    padding: 25px;
    height: 200px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 5% 5%;
    border-color: var(--darkblue);
    color:var(--Scarlet);
  }

  #work {
    padding: 25px;
    height: 200px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 5%;
    border-color: var(--darkblue);
    margin: 5px;
    color:var(--Scarlet);
  }

  #contact-me {
    padding: 25px;
    height: 200px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 5% 5%;
    border-color: var(--darkblue);
    color:var(--Scarlet);
  }

  #resume {
    padding: 25px;
    height: 200px;
    width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightolive);
    color:var(--darkblue);
    border-style: solid;
    border-radius: 5% 5%;
    border-color: var(--darkblue);
    color: var(--Scarlet);
  }

#work:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

#contact-me:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

#about-me:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

#resume:hover {
    background-color: var(--Scarlet);
    color:var(--lightolive);
}

.float-left {
        float: left;
        margin-right: 25px;
}

footer{
    text-align: center;
    color: var(--Scarlet);
    border: solid;
    border-color: var(--darkblue);
    background-color: var(--lightolive);
}