body {
    display: flex;
    flex-direction: column;
    line-height: 1.3px;
    background-color: var(--lightolive);

}

:root {
    --black: #000000;
    --lightolive: white;
    --lightteal: white;
    --darkblue: rgb(255, 255, 255);
}

header {
    justify-content: space-between;
    padding: 2%;
    width: 200px;
    color: var(--black);
    margin: 10px;
    border-style: solid;
    border-color: var(--black);
    text-align: left;
    font-size: 15px;
    line-height: normal;
    position: relative;
    left: 2%;
}

img{
    width: 200px;
    height: 200px;
    margin: 25px;
}

nav {
    justify-content: space-between;
    padding: 2%;
    text-align:center;
    color:var(--black);
    position: absolute;
    right: 2%;
}

nav a {
    color: var(--Scarlet);
    padding: 25px 25px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--black);
    color:var(--lightolive);
}


.categories {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  

  #about-me {
    padding: 20%;
    height: 100px;
    width: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--black);
    line-height: normal;
    position: center;
    font-size: 25px;
  }
  

  #work {
    padding: 20%;
    height: 100px;
    width: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--black);
    line-height: normal;
    position: center;
    font-size: 25px;
  }

  #contact-me {
    padding: 20%;
    height: 100px;
    width: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--black);
    line-height: normal;
    position: center;
    font-size: 25px;
  }


  #resume {
    padding: 20%;
    height: 100px;
    width: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--black);
    line-height: normal;
    position: center;
    font-size: 25px;
  }

.float-right {
        float: right;
        margin-right: 25px;
}

footer{
    text-align: center;
    color: var(--black);
    border-radius: 60px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
